.status-box {
    background-color: #dff0d8;
    border-radius: 3px;
    padding: 20px;
    margin-top: 20px;
    color: #3c763d;
}

.status-box.warning {
    background-color: #f2dede;
    color: #a94442;
}

.status-box span {
    display: none;
}

.status-box.loading span {
    display: block;
}

.statuses {
    max-width: 500px;
    margin: 0 auto;
}

.statuses h3 {
    text-transform: capitalize;
    margin-top: 0;
}

.status {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.status:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}