.icon-link {
    background-color: #dff0d8;
    display: inline-block;
    padding: 15px 40px;
    margin-bottom: 5px;
    border-radius: 3px;
    color: #3c763d;
    text-decoration: none;
    text-transform: uppercase;
    width: 240px;
}

.icon-link.warning {
    background-color: #f2dede;
    color: #a94442;
}

.icon-link.info {
    background-color: #d9edf7;
    color: #31708f;
}

.warning i {
    border: 2px solid #a94442;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-left: 10px;
    font-style: normal;
}

.warning i:before {
    content: '!';
}